<h2>About Page</h2>
<h4>
Author: Andrew Gordon
</h4>
<div>
    <p>
        This website was created due to my own struggles with finding housing in New York City. This past summer, I had an internship in Manhattan and found it nearly impossible to find a place to stay for the Summer. Fast forward to today, I'm still struggling to find a reasonably price apartment for the upcoming year due to broker's fees and shady landlords. Through the creation of this website, I hope to create an environment where people can list vacancies in their apartments, landlords can post openings for the upcoming year and the community can discuss shady dealings or overpriced apartments all in the same website. Through this, the process is simplified and the community can come together to help one another.
    </p>
    <p>
        Whether someone wants to rent out a room in their apartment day by day or they're looking for a long-term roommate, they have the ability to do so here. Upon a successful stay, the temporary tenant then rates the apartment based on a set of criteria that will allow future tenants to get a true feel for what it's like to live there.
    </p>
</div>