<h2>Welcome to the NYC apartment hunt chat</h2>
<h5>Here you can chat with other people who are looking for apartments to get tips, ask for advice and even find roommates!</h5>
<div class="chatroom">
<ul id="chat" class="list"></ul>
</div>
<form id="message_box" action="">
    <input id="inp" autocomplete="off" /><button>Send</button>
</form>