<h2>Add a listing!</h2>
<article>
    <form method="POST" action="/sendMail">
    <div class="input">
        <label>Your email: </label>
        <input type="text" name="from" size="30" placeholder="ex. name@gmail.com">
    </div>
    <div class="input">
        <label>Listing name: </label>
        <input type="text" name="subject" size="30" placeholder="ex. Interested in your unit...">
    </div>
    <div class="input">
        <label>Message: </label>            
    </div>
    <div class="input">
        <textarea type="text" name="text" rows="10" size="30" placeholder="Hello, I'd love to talk to you about..."></textarea>
    </div>
    <button type="submit">Send Email </button>
    </form>
</article>